


<div id="modal_jenis_kendaraan" class="modal fade" tabindex="-1" role="dialog">
<div class="modal-dialog" style="width:1650px;">
<div class="modal-content">

<div class="modal-body">
<div class="col-md-35">



<div class="tab-content">
<div class="box box-default">
<div >
<div class="box-tools pull-right">
<button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
<button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-remove"></i></button>
</div>
</div>
<div class="box-body">
  <div class='box-body pad'>
    <button class="btn btn-info btn-lg" id="jkrefresh" type="button" ><b class="glyphicon glyphicon-refresh"></b> Refresh</button>
    <button class="btn btn-warning btn-lg" id="jkedit" type="button" ><b class="glyphicon glyphicon-pencil"></b> Edit</button>
    <button class="btn btn-success btn-lg" id="jkadd" type="button" ><b class="glyphicon glyphicon-plus"></b> Add</button>
      
    <div class="panel panel-default">
    <table id="tabel_jenis_kendaraan" class="table table-striped table-bordered table-hover"  cellspacing="0"
    width="100%" role="grid" aria-describedby="example_info"
    style="width: 100%;">
    <!-- Header Table -->
    <thead>
    <tr>
    <th>id</th>
    <th >Jenis Kendaraan</th>
    <th>Harga</th>
    </tr>
    </thead>
    
    <!-- Footer Table -->
    </table>
    
    
    </div>
    </div>

</div>
<div class="box-footer">
.
</div>
</div>


</div>
</div>
</div>
</div>
</div>
</div>

<script>
(
function()
{
if (window.addEventListener)
{
window.addEventListener('load', run, false);
}
else if (window.attachEvent)
{
window.attachEvent('onload', run);
}
function run()
{
var t = document.getElementById('tabelver');
t.onclick = function (event) {
event = event || window.event; //IE8
var target = event.target || event.srcElement;
while (target && target.nodeName !== 'TR') { // find TR
target = target.parentElement;
}
var cells = target.cells; //cell collection - https://developer.mozilla.org/en-US/docs/Web/API/HTMLTableRowElement
if (!cells.length || target.parentNode.nodeName === 'THEAD') {
return;
}
var f1 = document.getElementById('ax');
var f2 = document.getElementById('bx');
var f3 = document.getElementById('cx');
var f4 = document.getElementById('dx');
var f5 = document.getElementById('ex');
var f6 = document.getElementById('fx');
var f7 = document.getElementById('gx');
var f8 = document.getElementById('hx');
var f9 = document.getElementById('ix');
var f10 = document.getElementById('jx');
var f11= document.getElementById('kx');
var f12 = document.getElementById('lx');
var f13 = document.getElementById('mx');
var f14 = document.getElementById('nx');
var f15 = document.getElementById('ox');
var f16 = document.getElementById('px');
var f17 = document.getElementById('qx');
var f18 = document.getElementById('rx');
var f19 = document.getElementById('sx');
var f20 = document.getElementById('tx');
var f21 = document.getElementById('ux');
var f22 = document.getElementById('vx');
var f23 = document.getElementById('wx');




f1.value = cells[0].innerHTML;
f2.value = cells[1].innerHTML;
f3.value = cells[2].innerHTML;
f4.value = cells[3].innerHTML;
f5.value = cells[4].innerHTML;
f6.value = cells[5].innerHTML;
f7.value = cells[6].innerHTML;
f8.value = cells[7].innerHTML;
f9.value = cells[8].innerHTML;
f10.value = cells[9].innerHTML;
f11.value = cells[10].innerHTML;
f12.value = cells[11].innerHTML;
f13.value = cells[12].innerHTML;
f14.value = cells[13].innerHTML;
f15.value = cells[14].innerHTML;
f16.value = cells[15].innerHTML;
f17.value = cells[16].innerHTML;
f18.value = cells[17].innerHTML;
f19.value = cells[18].innerHTML;
f20.value = cells[19].innerHTML;
f21.value = cells[20].innerHTML;
f22.value = cells[21].innerHTML;
f23.value = cells[22].innerHTML;




$("#codein").val(document.getElementById('ex').value);

};
}
})
();
</script>
