<!DOCTYPE html>


<html xmlns="http://www.w3.org/1999/xhtml"
xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
layout:decorate="layout">
<head>
<meta charset="utf-8" />
<title> transaksi</title>

</head>
<body class="hold-transition skin-blue sidebar-mini">
<section layout:fragment="header">
<h2>
transaksi
<small>Form Master</small>
</h2>
<ol class="breadcrumb">
<li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
<li class="active"> Kendaraan</li>
</ol>
</section>
<div layout:fragment="content">
<div class="col-md-12">
<div id="info"></div>
<div class="nav-tabs-custom">
<ul class="nav nav-tabs">
<li class="active"><a href="#tab_1" id="kenoverview" data-toggle="tab">Overview</a></li>
<li ><a href="#tab_2" id="trgeneral" data-toggle="tab">General</a></li>
</ul>
<span th:replace="kendaraan/modal_jenis_kendaraan"/>

<div class="tab-content">
<div class="tab-pane active" id="tab_1">
<table>  
<td><button class="btn btn-info btn-lg" id="trrefresh" type="button" ><b class="glyphicon glyphicon-refresh"></b> Refresh</button></td>  
<td><button class="btn btn-warning btn-lg" id="tredit" type="button" ><b class="glyphicon glyphicon-pencil"></b> Edit</button></td>
<td><button class="btn btn-success btn-lg" id="tradd" type="button" ><b class="glyphicon glyphicon-plus"></b> Add</button></td>
</table>
<div class="panel panel-default">
<table id="tabel_transaksi" class="table table-striped table-bordered table-hover"  cellspacing="0"
width="100%" role="grid" aria-describedby="example_info"
style="width: 100%;">
<!-- Header Table -->
<thead>
<tr>
<th>id_transaksi</th>
<th>kode</th>
<th>transaction_date</th>
<th>nama_pelanggan</th>
<th>jenis_kendaraan</th>
<th>merek</th>
<th>nopol</th>
<th>biaya</th>

</tr>
</thead>

<!-- Footer Table -->
</table>


</div>
</div>
<div class="tab-pane" id="tab_2">
<form data-toggle="validator" name ="form_transaksi" id ="form_transaksi" role="form" th:object="${transaksi}"  method="post">



<div class="col-md-24">
<table class="table table-striped table-bordered table-hover" width="220%">
<h2>Detail Information</h2>
<tr hidden>
<td> <div class="form-group" >
<label for="nama">id_transaksi</label>
<input type="text" class="form-control" id="id_transaksi" name="id_transaksi" readonly />
</div>
</td>
</tr>
<tr>
<td> 

<!-- 
<div class="form-group" >
<label for="nama">jenis kendaraan</label>
<div class="input-group">
<div class="input-group-addon">
<i class="fa fa-id-card"></i>
</div>
<input type="text" required="true" class="form-control"  id="jenis_kendaraan"  name="jenis_kendaraan" />
<span class="input-group-btn">
<button class="btn btn-info btn-flat" type="button" data-target="#modal_jenis_kendaraan" data-toggle="modal">Select</button>
</span>
</div>
</div> -->

</td>
</tr>
<tr>
<td>
<div class="form-group">
<label for="nama">transaction_date</label>
<input type="text" required="true" class="form-control"  id="transaction_date" name="transaction_date" readonly/>
</div>
</td>
</tr>
<tr>
<td>
<div class="form-group">
<label for="nama">kode</label>
<input type="text" required="true" class="form-control"  id="kode" name="kode" />
</div>
<div id="tpelanggan" class='box-body pad'>    
<button class="btn btn-info btn-lg" id="pelrefresh" type="button" ><b class="glyphicon glyphicon-refresh"></b> Refresh</button>
<button class="btn btn-warning btn-lg" id="peledit" type="button" ><b class="glyphicon glyphicon-pencil"></b> Edit</button>
<button class="btn btn-success btn-lg" id="peladd" type="button" ><b class="glyphicon glyphicon-plus"></b> Add</button>

<div class="panel panel-default">
<table id="tabel_pelanggan" class="table table-striped table-bordered table-hover"  cellspacing="0"
width="100%" role="grid" aria-describedby="example_info"
style="width: 100%;">
<!-- Header Table -->
<thead>
<tr>
<th>id_pelanggan</th>
<th >kode_pelanggan</th>
<th>nama_pelanggan</th>
<th>jenis_kendaraan</th>
<th >merek</th>
<th>nopol</th>
<th>biaya</th>

</tr>
</thead>

<!-- Footer Table -->
</table>


</div>
</div>
</div>
</td>
</tr>
<tr>
<td>
<div class="form-group">
<label for="nama">nama_pelanggan</label>
<input type="text" required="true" class="form-control"  id="nama_pelanggan" name="nama_pelanggan" readonly/>
</div>
</td>

</tr>

<tr>
<td>
<div class="form-group">
<label for="nama">jenis_kendaraan</label>
<input type="text" required="true" class="form-control"  id="jenis_kendaraan" name="jenis_kendaraan" readonly/>
</div>
</td>

</tr>

<tr>
<td>
<div class="form-group">
<label for="nama">merek</label>
<input type="text" required="true" class="form-control"  id="merek" name="merek" readonly/>
</div>
</td>

</tr>
<tr>
<td>
<div class="form-group">
<label for="nama">nopol</label>
<input type="text" required="true" class="form-control"  id="nopol" name="nopol" readonly/>
</div>
</td>

</tr>

<tr>
<td>
<div class="form-group">
<label for="nama">biaya</label>
<input type="text" required="true" class="form-control"  id="biaya" name="biaya" readonly />
</div>
</td>

</tr>
</table>



</div>


<center>
<button class="btn btn-warning btn-lg" type="submit" name="tr1"  id="tr1" ><b class="glyphicon glyphicon-floppy-disk"></b> Save</button>
</center>
</form>        </div>
</div>
</div>
</div>
</div>
</body>

</html>

<script >
$('#transaction_date').daterangepicker({
singleDatePicker: true,
showDropdowns: true,
locale: {
format: 'YYYY-MM-DD'
}
});

$("#simpan_asset").click(function (event)
{
//event.stopPropagation()
//  event.preventDefault()
//return false;
})
$("#edit_asset").hide();
$("#alertmu").fadeTo(2000, 500).slideUp(500, function()
{
$("#alertmu").slideUp(500);
});
$("#summary").hide();
</script>
